@page "/"

<p>Selected date: @MC60Time</p>

<input type="datetime-local" @onchange="CalculateStandardDimensions" />
@code {
    public string MC60Time { get; set; }
    public void CalculateStandardDimensions(ChangeEventArgs e)
    {
        var date = DateTime.Parse(e.Value.ToString());
        MC60Time = $"{date:yy}/{date:MM}/{date:dd},{date:HH:mm:ss}+00";

    }
    public string CurrectDateConvert()
        {
        
        return $"{DateTime.UtcNow:yy}/{DateTime.UtcNow:MM}/{DateTime.UtcNow:dd},{DateTime.UtcNow:HH:mm:ss}+00";
        }
}
